$dark-gray: #606060;

.NavMenu {
    height: 32px;
}

.LinkEntry {
    display:inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.LinkEntry:visited {
    color: $dark-gray;
}

.LinkEntry:hover {
    color: $dark-gray;
}

.LinkEntry:link {
    color: $dark-gray;   
}

.LinkEntry:active {
    color: $dark-gray;
}
