$gray-border: 1px solid RGB(220,220,220);

.mainSection {
    text-align: center;
}

.mainSection2 {
    max-width:500px;
    width:100%;
    display: inline-block;
}

.mainHeader {
    color:red;
    font-size: 100px;
    text-align: center;
    opacity:0.2;
}

.tabButton {
    font-size: 24;
    font-weight: bold;   
}

.TextField {
    padding-left: 6px;
}

.TodoEdit {
    height: 60px;
    border-bottom: 1px solid RGB(200,200,200); 
}

.TextFieldContainer {
    padding-left: 6px;
    padding-top: 6px;
    width:75%;
    float:left;
}

.TodoItem {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: $gray-border;    
}


.TodoEditItem {
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: $gray-border;  
}

.TodoItem:hover { 
    background-color: RGB(240,240,240); 
}

.ItemCheckbox {
    float: left;
    padding-left: 4px;
    opacity: 0.4;
}

.ClearCompleted {
    margin-top: 12px;
    text-align: center;
    opacity: 0.3;       
}

.ClearCompleted:hover {
    opacity: 1.0;       
}

.ClearCompletedOff {
    opacity: 0.0; 
    visibility:hidden;   
}

.ItemText {
    float: left;
    margin-top:3px;
}

.ItemTextCompleted {
    @extend .ItemText;
    opacity: 0.5;
    text-decoration: line-through;
}

.FloatClear {
    clear: both;  
}

.FloatRight {
    float: right;  
}

.ItemCheckbox:hover {
    opacity: 1.0;  
}

.ItemDelete {
    float: right; 
    opacity: 0.0;  
}

.TodoItem:hover .ItemDelete {
    opacity: 0.3;   
}

.TodoItem:hover .ItemDelete:hover  {
    opacity: 0.7;   
}

.Outstanding {
    font-size:14px;
    padding-right:6px;
    margin-top:6px;
}


@media screen and (max-width: 340px) {
    .Outstanding {
        font-size: 12px;
    }
}

@media screen and (max-width: 300px) {
    .Outstanding {
        font-size: 10px;
    }
}

