<!doctype html>
<html lang="en">
<head>
  <title>React Project</title>
  <meta charset="utf-8">
  <meta name="author" content="Andrew Banks">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#ffffff"/>
</head>

<body>
  <div id="reactroot">
  </div>
  <noscript>Your browser does not support JavaScript!</noscript>
</body>

</html>
