$single-gray-border: 1px solid #c0c0c0;
$lightGreen: RGB(137,209,133);

.displayModuleContainerBackground {
    position:fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index:100;
}

.displayModuleContainer {
    right:0;
    background:white;
    height:70px;
    position:fixed;
    top: 50%;
    transform: translateY(-50%);
    color:black;
    font-size: 10px;
    border-radius: 6px;
    padding:2px;
    border: $single-gray-border; 
    box-sizing: border-box;  
    display: flex;
    flex-direction: column;
    width:192px;
    z-index:101;
}

.displayModuleText {
    font-size: 11px;
    padding-top: 4px;
    word-wrap: break-word;
}

.monitorContainer {
    right:0;
    background:black;
    height:300px;
    position:fixed;
    top: 50%;
    transform: translateY(-50%);
    color:white;
    font-size: 10px;
    border-radius: 6px;
    padding:2px;
    border: $single-gray-border; 
    box-sizing: border-box;  
    display: flex;
    flex-direction: column;
    width:200px;
    z-index:99;
}

.monitorContentContainer {
    clear: both;
    overflow:auto;
}

.dataRow {
    background: transparent;
    font-size: 10px;  
    padding:0px; 
    color:white; 
    cursor:default;
}

.dataRow:nth-child(even) {
    background: transparent;
}
  
.dataRowOn {
    @extend .dataRow;
    background-color: $lightGreen;
    color:black;
}

.dataRowOn:nth-child(even) {
    background-color: $lightGreen
}

.dataColumn {
    border: 1px solid #707070;
    padding:2px;  
}

.buttonContainer {
    padding:4px; 
    float:left;  
}

.transitionButton {
    float:left;
    font-size:18px;
    color:$lightGreen;
    cursor:default;
    padding-left:10px; 
    padding-right:10px;
    padding-top:0px;
    padding-bottom:3px;   
}

.transitionStopButton {
    @extend .transitionButton;
    color:darkorange;
}

.transitionReplayButton {
    @extend .transitionButton;
    color:RGB(117,190,255);
    padding-top:3px;
    padding-left:4px;
}

.transitionExitButton {
    @extend .transitionButton;
    color:white;
}

.transitionMinimizeButton {
    @extend .transitionButton;
    font-weight:bold;
    color:white;
    padding-top:3px;
    padding-right:12px;
}

.maximizeButton {
    cursor:default;
    right:0;
    bottom:0;
    background:black;
    height:21px;
    width:21px;
    z-index:9999;
    position:fixed;
    color:white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 6px;
    border: $single-gray-border; 
    box-sizing: border-box; 
}

.maximizeChar {
    margin-top:-7px;
    margin-left:2px;
}



