$single-gray-border: 1px solid #c0c0c0;
$lightGreen: RGB(137,209,133);
.monitorContainer {
    right:0;
    background:black;
    height:300px;
    width:200px;
    z-index:9999;
    position:fixed;
    top: 50%;
    transform: translateY(-50%);
    color:white;
    font-size: 10px;
    border-radius: 6px;
    padding:2px;
    border: $single-gray-border; 
    box-sizing: border-box;  
    display: flex;
    flex-direction: column;
}

.partitionSelectContainer {
    right:0;
    background:black;
    max-height:300px;
    width:160px;
    z-index:99999;
    position:fixed;
    top: 50%;
    transform: translateY(-50%);
    color:white;
    overflow:auto;
    font-size: 10px;
    border-radius: 6px;
    padding:2px;
    border: $single-gray-border; 
    box-sizing: border-box; 
     display: flex;
    flex-direction: column;
}

.partitionSelectTitle {
    text-align: center;
    padding-top:4px;
    padding-bottom:4px;
}

.partitionSelectContentContainer {
    overflow:auto;
}

.partitionSelectRow {
    padding:8px;
    border-top:$single-gray-border; 
    cursor:pointer;
}

.partitionSelectRow:hover {
    background-color:"#c0c0c0";
}

.monitorContentContainer {
    clear: both;
    overflow:auto;
}

.dataRow:nth-child(even) {
  background: transparent;
}

.dataRow {
    background: transparent;
    font-size: 10px;  
    padding:0px; 
    color:white; 
    cursor:default;
}

.dataRowOn {
    @extend .dataRow;
    background-color: $lightGreen;
    color:black;
}

.dataRowOn:nth-child(even) {
    background-color: $lightGreen
}

.dataColumn {
    border: 1px solid #707070;
    padding:2px;  
}

.monitorButton {
  background: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  background: #3498db;
  padding: 4px 6px 4px 6px;
  text-decoration: none;
  border:0px;
}

.monitorButton:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.buttonContainer {
    padding:4px; 
    float:left;  
}

.debugButton {
    float:right;
    font-size:18px;
    color:$lightGreen;
    cursor:default;
}

.transitionBaseButton {
    float:left;
    font-size:18px;
    color:$lightGreen;
    cursor:default;
    padding-left:4px; 
    padding-right:4px;   
}

.transitionButton {
    @extend .transitionBaseButton;
    padding-top:0px;
    padding-bottom:3px;
}

.transitionStopButton {
    @extend .transitionBaseButton;
    color:darkorange;
    padding-bottom:3px;
    padding-top:0px;
}

.transitionReplayButton {
    @extend .transitionBaseButton;
    color:RGB(117,190,255);
    padding-top:3px;
    padding-left:4px;
}

.transitionExitButton {
    float:left;
    font-size:18px;
    color:white;
    cursor:default;
    padding-top:0px;
}

.transitionMinimizeButton {
    float:left;
    font-size:18px;
    font-weight:bold;
    color:white;
    cursor:default;
    padding-top:3px;
    padding-right:12px;
}

.debugButton {
    float:left;
    font-size:18px;
    color:$lightGreen;
    cursor:default;
    padding-right:12px;
}

.maximizeButton {
    cursor:default;
    right:0;
    bottom:0;
    background:black;
    height:21px;
    width:21px;
    z-index:9999;
    position:fixed;
    color:white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 6px;
    border: $single-gray-border; 
    box-sizing: border-box; 

}

.maximizeChar {
    margin-top:-7px;
    margin-left:2px;
}

.eraseButton {
    float:left;
    font-size:18px;
    color:red;
    cursor:default;
    padding-right:10px;
}



