@import 'common';

.comment-list-author {
    font-size:18px;
    font-weight:bold;
    padding-bottom:4px;
    padding-top:4px;
}

.comment-text {
    background: #4e89c5;
    color: white;
    border-bottom: $single-gray-border;
    font-size:20px;
    font-weight:bold;
    padding-bottom:6px;
    padding-top:6px;
    padding-left:6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.border-base {
    border: $single-gray-border;
    border-radius: 6px;
}

.comment-form {
  @extend .border-base;
  padding: 6px;
}

.comment-form-change {
  @extend .comment-form;
}

.comment-form-delete {
  @extend .comment-form;
}

.comment-form-list-container {
  @extend .border-base;
  margin-bottom:12px;
}

.comment-form-list {
    overflow:auto;
    height:300px;
}

.comment-entry{
    border-bottom: $single-gray-border;
    padding: 6px;    
}

.form-button {
    margin-left:8px;
}

.form-header {
    font-weight:bold;
    padding-bottom: 3px;  
}

input[type=text] {
    border-radius: 6px;
    padding:4px;
    margin-right:8px;
}