@import 'common';

.counter-form-button {
    margin:8px;
}

.counter-form-text {
    color:black;
    font-size:16px;
    padding:6px;
    padding-bottom:20px;
}

.counter-form-value {
    padding:6px;
    border: $single-gray-border;  
}

.counter-text {
    height:24px;
    padding-left:6px;
}