@import 'common';


.topContainer {
    display: flex;

}

.topTextContainer {
    margin-top: -10px;
    float: left;
    padding-bottom: 6px;
}

.reactContainer {
    float: left;
}

.reactLogo {
    width: 100px;
}