@import 'common';

.logoContainer {
    display: table;
    margin: 0 auto;
}

.topContainer {
    width:96%;
}

.topTextContainer {
    border: 0px;
}

.titleText {
    font-size: 36px;
}

@media screen and (max-width: 830px) {
    .titleText {
        font-size: 30px;
    }
}

@media screen and (max-width: 720px) {
    .titleText {
        font-size: 26px;
    }
}

.reactContainer {
    width: 100px;
    border: 0px
}

.reactLogo {
    width: 100px;
}

.descriptionText {
    font-size: 16px;
}

@media screen and (max-width: 720px) {
    .descriptionText {
        font-size: 14px;
    }
}
