$single-gray-border: 1px solid #c0c0c0;

.center-div-on-screen
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ajax-button-container {
    margin:8px;
}

.table-container {
    max-height:400px;
    overflow:auto;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}

.error-message-text
{
	padding-bottom:4px;
}

.error-message
{
    padding:20px;
    background-color:RGB(245,245,245);
    color:red;
    font-weight:bold;
    border-radius: 6px;
    border: $single-gray-border; 
}


